/* src/assets/styles/main.scss */
/* Seus estilos SCSS personalizados */
@use './_reset.scss';
@use './_variables.scss';
@use './_layout.scss';
@use './_components.scss';
/* Seus estilos SCSS personalizados aqui */
html {
  color-scheme: light dark;
  font-family: system-ui;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
